			
				body {
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
						font-size: 40px;
						text-align: center;
						display: flex;
						flex-wrap: wrap;
						text-align: center;
						color: antiquewhite;
						background-color: black;
                    }
				#obenmitte {
						display: flex;
						flex-wrap: wrap;
						margin: 10vh 0vh 0vh 0vh;
						background-color: rgb(56, 40, 134);
						height: 20vh;
						width: 70%;
						align-items: center;
						justify-content: center;
						font-size: 70px;
					}
				#obenlinks{
						display: flex;
						flex-wrap: wrap;
						margin: 10vh 0vh 0vh 10vh;
						background-color:rgb(56, 40, 134);
						max-width: 20%;
						max-height: 20vh;
					}
				#steuerleiste{
						display: flex;
						flex-wrap: wrap;
						background-color: rgb(6, 6, 36);
						height: 10vh;
						margin: 0vh 0vh 0vh 0vh;
						width: 100%;
						justify-content: center;
						gap: 20vh;
						position:sticky;
						top:0px;
				}
				#untengross{
					display: flex;
					flex-wrap: wrap;
					margin: 0vh 10vh 0vh 10vh;
					background-color: rgb(32, 32, 116);
					width: 90%;
					justify-content: center;
					text-align: center; 
					align-items: center;
					
				}
				#baum{
					margin: 5% 5% 5% 5%;

				}
				.seitenwechsel{
					margin: 1vh 5vh 1vh 5vh;
					display: flex;
					flex-wrap: wrap;
					flex: 0 0 20;
					width: 30vh;
					justify-content: center;
					align-items: center;
				}
					
				#fallschirmspringer{
					width: 80%;
					margin: 3% 10% 3% 10%;
				}
				a{ 
					color: darkgray;
					font-weight: bold;
				}
				a:hover{
					color: grey;
					text-decoration: underline;
				}
				table {
    				width: 100%;
    				border-collapse: collapse;
					font-size: 25px;
				}

				th {
    				background: #333;
    				color: white;
				}

				th, td {
    				border: 1px solid #ccc;
    				padding: 10px;
    				text-align: center;
				}
				